/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dee9ff;
}
.container {
  height:750px;
  position:relative;
  max-width: 540px;
  margin-right:-900px;
  Move-Left:300px;
  width: 100%;
  padding: 30px;
  border-radius: 28px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.container-icon {
 text-align: center;
    background-color: #185bf5;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top:10px;
    margin-bottom: 70px;
    line-height: 100px;
}



form .input-field {
	
  position: relative;
  right:25px;
  height: 58px;
  width: 120%;
  border-radius:50px;
  padding:10px 50px;
  
}
form.city-field{
	position:relative;
	left:50px;
	height:55px;
	width:120%;
	padding:70px 70px;
	margin-top:10px;
	display:flex;
	
}
.input-field input {

  height: 120%;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 0 90px;
  border: 1px solid #d1d1d1;
}

.button {
  margin: 25px 0 15px;
}
.button input {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color:#185bf5; 
 /* background-color: #4070f4; */
  cursor: pointer;
;
}
.button input:hover {
  background-color:#185bf5;
}
